/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
	font-family: Open Sans, Arial, sans-serif;
	color: #333;
	font-size: 18px;
	/* font-size: calc(0.75em + 1vmin); @MEDIA*/
}

body {
	display: block;
	justify-content: unset;
	align-items: unset;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

:focus-visible {
	outline: 3px ridge rgb(41, 104, 104);
	outline-offset: 10px;
}

.app {
	background-color: #ffffff;
	/* width: -webkit-fill-available;
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content; */
	border-radius: 15px;
	padding: 20px;
	-webkit-box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
	/* 	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly; */
	max-width: 600px;
}

.app-wrapper {
	/* display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center; */
	margin-bottom: 2em;
	margin-top: 2.5em;
	/* width: 100vw; */
}

/* DESCRIPTION/ONBOARDING SECTION */

.description {
	/* height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content; */
	/* padding: 20px; @MEDIA */
	/* display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly; */
	text-align: center;
	margin-top: 0.75em;
}

.description p {
	line-height: 1.5;
	/* font-size: 16px; */
	text-align: left;
}

.description h2 {
	font-size: 16px;
	-webkit-margin-before: 0.1em;
	margin-block-start: 0.1em;
}

.description h1 {
	font-size: 24px;
	line-height: 1.2;
	-webkit-margin-after: 0.1em;
	margin-block-end: 0.1em;
}

/* .description img {
	height: 105vw !important;
}
 */
/* QUESTION SECTION */
/* .question-section {
	width: 100%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-bottom: 30px;
} */

.question-count {
	margin-bottom: 20px;
}

.question-count span {
	font-size: 28px;
}

.question-text {
	margin-bottom: 12px;
}

.question-img {
	height: auto;
	width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
	width: stretch;
	width: -moz-available;
	/*   transform: scale(1.1); */
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
}

/* ANSWERS SECTION */
.answer-section {
	/* width: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center; */
	margin-top: 0.75em;
}

.img-answer-section {
	/* width: 100%; */
	/* display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap; */
	margin-top: 0.75em;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-between; */
}

.img-answer-container {
	/* width: inherit;
	height: inherit; */
	position: relative;
	/* text-align: center; */
}

.answer-img {
	width: inherit;
	height: inherit;
	border-radius: inherit;
	/* 	background-image: -webkit-linear-gradient(
			283deg,
			rgba(255, 255, 255, 0.1) 50%,
			transparent 55%
		),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.15), transparent); */
	transition: all .15s linear;
}

.answer-img:hover {
	opacity: 0.9;
}

button {
	width: 100%;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	background-color: #959d93;
	border-radius: 15px;
	/* display: flex; */
	/* padding: 5px; */
	padding-top: 16px;
	padding-right: 30px;
	padding-bottom: 16px;
	padding-left: 30px;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 0;
	cursor: pointer;
	margin-bottom: 25px;
	transition: all .15s linear;
}

button:hover {
	background-color: #e0c588;
}

/* button:focus {
	
} */

button svg {
	margin-right: 5px;
}

.answer-img-button {
	/* display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 33%;
	-ms-flex: 33%;
	flex: 33%; */
	box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
	padding: 0;
	overflow: hidden;
	max-height: 60vh;
	max-width: 70vw;
	margin-top: 25px;
	/* background-image: -webkit-linear-gradient(
			283deg,
			#09637d 50%,
			transparent 70%
		),
		-webkit-linear-gradient(top, #056d8b, transparent); */
	box-shadow: 0px 0px 0 1px #083542, 2px 5px 0px 0px #0d2c35,
		2px 8px 15px 2px #020202;
}

.answer-img-button:hover {
	position: relative;
	top: -1px;
	box-shadow: 0px 0px 0 1px #7d6d48, 3px 6px 0px 0px #3e3521, 3px 10px 20px 4px #020202
}

.answer-img-button:focus {
	background-color: #7d6d48;
	top: 4px;
	box-shadow: 0px 0px 0 1px #7d6d48, 0px 0px 0px 0px #3e3521, 1px 2px 15px 4px #020202
}

/* makes room for the outline */
.answer-img-button:focus-visible { 
	position: relative;
	top: -1px;
	box-shadow: 0px 0px 0 1px #7d6d48, 3px 6px 0px 0px #3e3521, 2px 8px 10px 1px #020202;
}

/* END RESULT SECTION */

.result-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	/* align-items: center; */
}

.result-wrapper p {
	line-height: 1.5;
	font-size: 1em;
}

.result-wrapper h3 {
	line-height: 1.5;
	font-size: 1.5em;
	text-align: left;
}

.result-img {
	width: -webkit-fill-available;
	padding-top: 1em;
	padding-bottom: 1em;
}

/* TEST BUTTON CRAP */
.button-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}

/* .fakeFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(134, 126, 126);
  color: white;
  text-align: center;
} */

.start-and-reset-button {
	padding-top: 16px;
	padding-right: 30px;
	padding-bottom: 16px;
	padding-left: 30px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 15px;
	border: 2px solid #2d69ff;
	background-color: transparent;
	-webkit-transition: background-color 0.15s, border-color 0.15s, color 0.15s;
	-o-transition: background-color 0.15s, border-color 0.15s, color 0.15s;
	transition: background-color 0.15s, border-color 0.15s, color 0.15s;
	cursor: pointer;
	opacity: 1;
	margin: 0.5em 0em 0.5em 0em;
	color: #2d69ff;
	min-height: 42px;
	/* -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; */
}

.start-and-reset-button:hover {
	background-color: #2d69ff;
	color: white;
	border-color: transparent;
}

.start-and-reset-button:focus {

	background-color: #e0c588;
    border-color: transparent;
    color: #333;
	/* -webkit-box-shadow: inset 0 1px 8px 2px rgba(0, 16, 32, 0.2);
	box-shadow: inset 0 1px 8px 2px rgba(0, 16, 32, 0.2);
	border-color: rgba(0, 16, 32, 0.2); */
}

.start-and-reset-button:focus-visible {
	outline: none;
	background-color: #2d69ff;		
	color: white;
}

/* .img-caption {
	position: relative;
	top: 15%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: white;
	font-size: 22px;
	font-weight: bold;
	-webkit-text-stroke: 1px black;
} */

.result-title {
	font-size: 20px;
}

/* .animation-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
} */

/* question image animations */
.question-animation {
	position: relative;
	width: 100%;
	/* height: 105vw; */
	/* max-height: 600px; */
	/* margin: 5px; */
}

.question-animation img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* answer image animations */

.answer-animation {
	/* position: inherit;
	width: 100%; */
	height: 50vw;
	max-height: 300px;
	/* margin: 5px; */
}

.answer-animation img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.loading-circle {
	align-self: center;
}

.share-button {
	width: 64px;
	height: 64px;
	margin: 5px;
}

.some-container {
	margin-inline: auto;
}

.test {
	/* answer button image wrapper I guess? */
	max-height: inherit;
}

@media only screen and (min-width: 460px) {
	.app {
		width: 80vw;
	}

	.app-wrapper {
		margin-bottom: 5em;
		margin-top: 5em;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	button {
		margin: 5px;
	}

	.img-answer-section {
		/* width: 100%; */
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		/* -webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row; */
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: unset;
	}

	.answer-img-button {
		flex: 33% 1;
		margin: 3vw;
		max-width: 35vw;
	}
	.share-button {
		margin: 20px;
	}
}

@media only screen and (min-width: 750px) {
	.answer-img-button {
		margin: 25px;
		max-width: 30vh;
	}
}
